
body {
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


h3 {
    color: #fe424d !important;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color:#fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/*Footer*/
/* .footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
} */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 0.4rem;
}

.f-info-socials i:hover{
    font-size: 1.5rem;
}

.f-info {
    text-align: center;
    height: 7rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* listing-card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;

}

.listing-link {
    text-decoration: none;
}

/*Card Effects*/
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
    border-radius: 1rem;
}

/*New page*/
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/*Edit page*/
.edit-btn {
    /* background-color: #fe424d !important; */
    /* border: none !important; */
}

/*Show page*/
.show-img {
    height: 30vh !important;
}

.btns {
    display: flex;
    border: none !important;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/*MAP*/
#map {
    height: 300px;
    width: 80vh;
}